ion-content{
    // background-image: linear-gradient(to bottom, #F68121 50%, #F68121);
    padding-top: 50%;
    #logo{
        margin-top: 60%;
    }
    ion-icon{
        font-size: 35px;
        // color: #F68121;
        float: right;
    }
    .caixa{
        width: 40px;
        height: 50p
    }
    background: #FF1B14;

}