page-home {
    ion-content{
        background: #F71913;
        padding-top: 50%;
        #logo{
            margin-top: 60%;
        }
        #botao{
            background-image:  linear-gradient(to bottom, #FEBA01, #FF9400); 
            margin-top: 40%;
        }
        #img-bottom{
            margin-top: 20%;
        }
    }
    background: #F71913;

}
